@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital@0;1&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital@0;1&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital@0;1&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme{
  --font-saira: "Libre Franklin", sans-serif;
  --font-libre:"Saira Condensed",sans-serif;
  --font-opensans:"Open Sans",sans-serif;
}